    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: linear-gradient(90deg, rgb(30, 30, 47), rgb(72, 61, 139));
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
    }

    .hero {
      text-align: center;
      padding: 30px 20px;
      color: white;
      background: linear-gradient(90deg, rgb(44, 62, 80), rgb(142, 68, 173));
      width: 100%;
      height: 170px;
      box-shadow: 0 4px 20px rgb(0,0,0,0.8);
      margin-bottom: 50px;
    }

    #hero-heading {
      font-size: 3em;
      margin-bottom: 20px;
      text-shadow: 0 4px 20px rgba(0,0,0,0.8);
    }

    .icon {
      font-size: 50px;
      color: rgb(224, 87, 255)
    }

    .year-card {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
      padding: 20px;
    }

    .cb1 {
      background: linear-gradient(45deg, rgba(52, 152, 219, 1), rgba(142, 68, 173, 1));
      font-weight: bold;
      color: white;
      border: none;
      border-radius: 12px;
      padding: 15px 30px;
      font-size: 1.2em;
      cursor: pointer;
      transition: transform 0.3s ease, background 0.3s ease;
    }

    .cb1:hover {
      transform: scale(1.05);
      background: linear-gradient(45deg, #5dade2, #9b59b6);
      box-shadow: 0 4px 15px rgba(52, 152, 219, 0.7);
    }

    @media (max-width: 600px) {
      #hero-heading {
        font-size: 2em;
      }

      .cb1 {
        width: 80%;
        font-size: 1em;
        padding: 12px;
      }

      .year-card {
        flex-direction: column;
        align-items: center;
      }
    }
  