:root{
  --bg-primary: rgb(30,30, 47);
  --bg-secondary: rgb(42,42,62);
  --text-primary: rgb(224,224,224);
  --text-secondary: rgb(163, 191, 250);
  --accent: white;
  --gradient: linear-gradient(90deg, rgb(44, 62, 80), rgb(142, 68, 173));
  --card-bg: rgb(42, 42, 62);
  --border: rgb(68, 68, 68);
}

body{
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: 'Segoe UI',sans-serif;
  min-height: 100vh;
  margin: 0;
  transition: background-color 0.3s,color 0.3s;
}

header.hero{
  background: var(--gradient);
  text-align: center;
  margin: 0;
  padding: 50px 20px;
  width: 100%;
  box-shadow: 0px 6px 20px rgba(0,0,0,0.4);
}

#hero-heading{
  font-size: 3em;
  color: var(--accent);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 3px;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

.icon i{
  font-size: 50px;
  color: rgb(165, 58, 181);
  padding: 0px 20px;
  animation: pulse 2s infinite;
}

@keyframes pulse{
  0% {transform: scale(1); }
  50% {transform: scale(1.1); }
  100% {transform: scale(1); }
}

.cb1{
  border: none;
  border-radius: 10px;
  width: 100%;
  background: linear-gradient(45deg, rgba(52, 152, 219, 1), rgba(142, 68, 173, 1));
  height: 50px;
  color: var(--accent);
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  width: 300px;
  height: 70px;
}

.cb1:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(52, 152, 219, 0.6);
  background: linear-gradient(45deg, rgba(52, 152, 219, 1), rgba(142, 68, 173, 1));
}

.year-card{
  display: grid;
  /* grid-template-columns: repeat(auto-fit , minmax(250px,1fr)); */
  margin-top: 50px;
  gap: 20px;
  text-align: center;
}

